{% load static %}
<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Lez</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="stylesheet" src="//normalize-css.googlecode.com/svn/trunk/normalize.css">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Raleway" rel="stylesheet">
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'css/lez.css' %}">
    </head>
    <body>
        <header>
            <section id="left" class="logged-in-only">
                <input type="text" id="input-title">
            </section>
            <section id="title">
                Lez
            </section>
            <section id="right">
                <a href="{% url 'logout' %}" class="logged-in-only" id="logout">Log Out</a>
                <span class="logged-out-only">
                    <a href="#" id="login"><i class="fa fa-user-circle"></i> Log in</a> or <a href="#" id="register"> register</a><span class="hide-small"> to save and create more lists</span>
                </span>
            </section>
        </header>
        <div id="app">
            <section id="input">
                <div>
                    <h1>Add Items</h1>
                    <input type="text" id="input-value"><button class="btn-lez" id="btn-input"><i class="fa fa-plus-circle"></i></button>
                    <p>Stressed out by the list of books you want to read growing too huge?</p>
                    <p>Lez is like a todo list where you can't see the list.</p>
                    <p>Add items any time, and when you want to read a book, Lez will suggest one.</p>
                </div>
            </section>
            <section id="output">
                <div class="contents">
                    <p>How about...</p>
                    <p class="suggestion" id="suggestion"></p>
                    <div class="buttongroup">
                        <button class="btn-lez" id="btn-yes"><i class="fa fa-check"></i> OK</button>
                        <button class="btn-lez" id="btn-notnow"><i class="fa fa-clock-o"></i> Not Now</button>
                        <button class="btn-lez" id="btn-no"><i class="fa fa-times"></i> Remove This</button>
                    </div>
                </div>
                <div class="no-items">
                    <h1>Your list is empty!</h1>
                </div>
                <div class="no-suggestions">
                    <h1>No more suggestions for now, would you like to <a href="#" id="btn-reset">reset suggestions</a>?</h1>
                </div>
            </section>
        </div>
        <div id="login-shade">
            <section>
                <h1><span class="login-reg">Login</span> with:</h1>
                <div>
                    <button class='btn-auth btn-google first' id="btn-gauth"><i class="fa fa-google-plus" aria-hidden="true"></i> Google</button>
                    <button id="btn-login-email" class='last btn-auth btn-email'><i class="fa fa-envelope-o" aria-hidden="true"></i> Email</button>
                    <div id="email-login">
                        <input id="login-email" type="email" placeholder="email address">
                        <span id="login-email-errors" class="form-errors"></span>
                        <input id="login-password" type="password" placeholder="password">
                        <span id="login-password-errors" class="form-errors"></span>
                        <span id="login-all-errors" class="form-errors"></span>
                        <button id="btn-signup" class='first last btn-auth btn-signup'><i class="fa fa-check" aria-hidden="true"></i> <span class="login-reg">Login</span></button>
                    </div>
                </div>
            </section>
        </div>
        <script
              src="https://code.jquery.com/jquery-3.2.1.min.js"
              integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
              crossorigin="anonymous"></script>
        <script>
            let is_logged_in = {{ user.is_authenticated|yesno:"true,false" }}
            const csrf_token = "{{ csrf_token }}"
        </script>
        <script src="{% static 'js/lez.js' %}"></script>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-111944711-1"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'UA-111944711-1');
        </script>

        <script src="https://www.google-analytics.com/analytics.js" async defer></script>
    </body>
</html>
