{% load static %}
<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Lez</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="stylesheet" src="//normalize-css.googlecode.com/svn/trunk/normalize.css">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Raleway" rel="stylesheet">
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'css/lez.min.css' %}">
    </head>
    <body class="{% if user.is_authenticated %}logged-in{% endif %}">
        <header>
            <section id="left" class="logged-in-only">
                <i id="btn-list-select" class="fa fa-caret-down"></i>
                <input type="text" id="input-title">
            </section>
            <section id="title">
                Lez
            </section>
            <section id="right">
                <a href="{% url 'logout' %}" class="logged-in-only btn-logout"><span class="hide-small">Log Out</span><span class="hide-big"><i class="fa fa-sign-out"></i></span></a>
                <span class="logged-out-only">
                    <span class="hide-big">
                        <a href="#" class="btn-login"><i class="fa fa-user-circle"></i></a>
                    </span>
                    <span class="hide-small"><a href="#" class="btn-login"><i class="fa fa-user-circle"></i> Log in</a> | <a href="#" id="register"> Register</a></span>
                </span>
            </section>
        </header>
        <div id="app">
            <section id="input">
                <div>
                    <h1>Add Items</h1>
                    <input type="text" id="input-value" data-lpignore="true"><button class="btn-lez" id="btn-input"><i class="fa fa-plus-circle"></i></button>
                    <p class="input-messages">Added</p>
                </div>
            </section>
            <section id="output">
                <div class="splash">
                    <p>Stressed out by your list growing too huge?</p>
                    <hr>
                    <p>Lez is like a todo list where you <br>can't see the list.</p>
                    <hr>
                    <p>Add items any time, and when you want a suggestion, Lez will give you one.</p>
                    <hr>
                    <p>Your lists are stored on your device, sign up to save them and access them anywhere.</p>
                </div>
                <div class="cover">
                    <div class="login-pointer hide-small">
                        Sign up to save multiple lists! <i class="fa fa-arrow-up"></i>
                    </div>
                    <button class="btn-lez" id="btn-suggest">Give me a suggestion</button>
                </div>
                <div class="suggest">
                    <p>How about...</p>
                    <p class="suggestion" id="suggestion"></p>
                    <div class="buttongroup">
                        <button class="btn-lez" id="btn-notnow"><i class="fa fa-clock-o"></i> Not Now</button>
                        <button class="btn-lez" id="btn-yes"><i class="fa fa-check"></i> Done</button>
                    </div>
                </div>
                <div class="no-items">
                    <h1>Your list is empty!</h1>
                </div>
                <div class="no-suggestions">
                    <h1>No more suggestions for now</h1>
                    <button id="btn-reset" class="btn-lez">Reset Suggestions?</button>
                </div>
            </section>
            <div id="list-list" class="shade">
                <section class="list-container"></section>
            </div>
        </div>
        <div id="login-shade" class="shade">
            <section>
                <h1 class="hide-small"><span class="login-reg">Login</span> with:</h1>
                <div class="hide-big">
                    <a href="#" class='btn-auth first btn-select-login' data-type="login">Login with:</a>
                    <a href="#" class='btn-auth last btn-select-login'  data-type="register">Register with:</a>
                </div>
                <div>
                    <button class='btn-auth btn-google first' id="btn-gauth"><i class="fa fa-google-plus" aria-hidden="true"></i> Google</button>
                    <button id="btn-login-email" class='last btn-auth btn-email'><i class="fa fa-envelope-o" aria-hidden="true"></i> Email</button>
                    <div id="email-login">
                        <input id="login-email" type="email" placeholder="email address">
                        <span id="login-email-errors" class="form-errors"></span>
                        <input id="login-password" type="password" placeholder="password">
                        <span id="login-password-errors" class="form-errors"></span>
                        <span id="login-all-errors" class="form-errors"></span>
                        <button id="btn-signup" class='first last btn-auth btn-signup'><i class="fa fa-check" aria-hidden="true"></i> <span class="login-reg">Login</span></button>
                    </div>
                </div>
            </section>
        </div>
        <div id="donate-shade" class="shade">
            <section>
                <h1>About Lez</h1>
                <p><a href="https://github.com/fredley/lez" target="_blank"><i class="fa fa-github"></i> Lez</a> was made in order to get away from the crushing weight of long New Year's Resolution lists.</p>
                <p>You can use it any way you like, but it works well for keeping a list of things you want to do for pleasure, stopping that list itself becoming a chore.</p>
                <p>The name is inspired by a Pez Dispenser.</p>
                <p>Thank you for your support!</p>
                <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top" id="pp-form">
                <input type="hidden" name="cmd" value="_s-xclick">
                <input type="hidden" name="hosted_button_id" value="U9CA6RULDH8ES">
                <input type="image" src="https://www.paypalobjects.com/en_GB/i/btn/btn_donate_SM.gif" border="0" name="submit" alt="PayPal – The safer, easier way to pay online!">
                <img alt="" border="0" src="https://www.paypalobjects.com/en_GB/i/scr/pixel.gif" width="1" height="1">
                </form>
                <p class="light">© Tom White 2018</p>
            </section>
        </div>
        <div class="donate" id="btn-donate"><i class="fa fa-heart"></i></div>
        <script
              src="https://code.jquery.com/jquery-3.2.1.min.js"
              integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
              crossorigin="anonymous"></script>
        <script>
            let is_logged_in = {{ user.is_authenticated|yesno:"true,false" }}
            const csrf_token = "{{ csrf_token }}"
        </script>
        <script src="{% static 'js/lez.min.js' %}"></script>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-111944711-1"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'UA-111944711-1');
        </script>

        <script src="https://www.google-analytics.com/analytics.js" async defer></script>
    </body>
</html>
